@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  color: aliceblue;
  margin-bottom: 20px;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 50px;
  
}

h1 {
  color: #0CCE6B;
}

p {
  padding-top: 8px;
  font-size: 15pt;
}


body {
  background: linear-gradient(360deg, #11151c,#11151c, #0b090a);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  
}

.main {
  display: grid; 
  color:white;
  height: 200px;
  width: 500px;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr; 
  
}

.main__input-bin {
  width: 300px;
  height: 45px;
  grid-column-start: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: 16pt;
  margin-right: 6px;
  padding-left: 6px;
  border-radius: 5px;
  border: 0;
  
}
.input{
  margin: 0 auto;
  margin-top: -70px;
}

.main__result {
  display: flex;
  background: #0b090a;
  opacity: 0.2;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 50px;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 18pt;
  margin-top: -90px;
  
}


.button {
  background: #CF3321;
  font-family: 'Barlow', sans-serif;
  font-size: 15pt;
  border: 0;
  width: 150px;
  height:46px;
  grid-column-start: 2;
  grid-row-end: 1;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover{
  background-color: #3321CF;
  color: aliceblue;
  transition: background 0.4s;
}

.msg__error {
  margin-left: 22px;
  
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  color: red;
}
